.parent-block {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;

}

.title {
    flex-grow: 1;
    height: 20%;
    text-align: center;
}

.description {
    flex-grow: 1;
    height: 60%;
    text-align: center;
    border-top: 1px solid white;
}

.server-response {
    flex-grow: 1;
    height: 20%;
    text-align: center;
    border-top: 1px solid white;
}