<div class="parent-block">
    <div class="notification notifiaction0"*ngFor="let notification of array;let i=index" [class.show]="getNotification(i)!=''">
        {{getNotification(i)}}
        </div>

    <!--<div class="notification notifiaction1" [class.show]="getNotification(1)!=''">-->
        <!--{{getNotification(1)}}-->
    <!--</div>-->
    <!--<div class="notification notifiaction2" [class.show]="getNotification(2)!=''">-->
        <!--{{getNotification(2)}}-->
    <!--</div>-->
    <!--<div class="notification notifiaction3" [class.show]="getNotification(3)!=''">-->
        <!--{{getNotification(3)}}-->
    <!--</div>-->
    <!--<div class="notification notifiaction4" [class.show]="getNotification(4)!=''">-->
        <!--{{getNotification(4)}}-->
    <!--</div>-->
    <!--<div class="notification notifiaction5" [class.show]="getNotification(5)!=''">-->
        <!--{{getNotification(5)}}-->
    <!--</div>-->
    <!--<div class="notification notifiaction6" [class.show]="getNotification(6)!=''">-->
        <!--{{getNotification(6)}}-->
    <!--</div>-->
</div>