.parent-block {
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    flex-direction: column;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text-container {
    text-align: center;
    white-space: pre-wrap;

}