.row.name{
    width: 257px;
    margin: 0;
    text-align: center;
    border: 1px solid;
}

.row.sled{
    width: 150px;
    height: 70px;
    margin: 0;
    text-align: center;
    border: 1px solid;
}

.row.quarry {
    background-color: var(--colorStoneOne);
    width: 150px;
    height: 60px;
    margin: 0;
    text-align: center;
    border: 1px solid;
}

table{
    width: 600px;
    height: 100px;
    margin: auto;
    border: 1px solid;
}

table, td{
    border: 1px solid;
    width: 60px;
}
