<!-- custom font -->
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
<h1>LOBBY</h1>
<div class="lobby">
    <h2>Welcome to IMHOTEP - Cheers from GROUP 11</h2>
    <div class="lobby-heading">
        You are currently logged in as:
        <div class="name-username">
            <div class="name">Name: {{currentUser.name}}</div>
            <div class="username">Username: {{currentUser.username}}    </div>
        </div>
    </div>
    <div class="lobby-block">
        <div class="columns-block">
            <div class="left-column">
                <div class="list-heading">Users</div>
                <ul class="list-users">
                    <li class="list-group-item" *ngFor="let user of users">{{user.username}}-{{user.token}}
                        <div class="user-status"
                             [ngClass]="
                        {online: user.status == 'ONLINE',
                        offline: user.status == 'OFFLINE',
                        isPlaying: user.status == 'IS_PLAYING',
                        isReady: user.status == 'IS_READY',
                        inALobby: user.status=='IN_A_LOBBY'
                         }">
                            {{user.status}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-column">
                <div class="list-heading">Games</div>
                <ul class="list-games">
                    <li class="list-group-item" *ngFor="let game of games">{{game.name}} - id:{{game.id}} -
                        {{game.owner}}
                        <div class="game-status"
                             [ngClass]="
                             {pending: game.status == 'PENDING',
                             running: game.status == 'RUNNING',
                             finished: game.status == 'FINISHED'
                             }">
                            {{game.status}}
                        </div>
                        <button *ngIf=" game.status != 'RUNNING' && !inWaitingRoom" class="btn btn-sm btn-primary btn-list" type="submit">
                            JOIN
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="waiting-room" *ngIf="inWaitingRoom">
        <div class="btn leave-button" (click)="leave()">
            LEAVE
        </div>
        <div class="game-players">
            <div class="player-row">
                <div class="player">Player1</div>
                <div class="player">Player2</div>
            </div>
            <div class="player-row">
                <div class="player">Player3</div>
                <div class="player">Player4</div>
            </div>
        </div>
        <div class="btn ready-button" (click)="ready()">
            READY
        </div>
    </div>
    <div class="bottom-buttons">
        <button class="btn btn-bottom" type="submit" [routerLink]="['/login']">LOGOUT</button>
        <button class="btn btn-bottom" type="submit" (click)="createNewGame()">CREATE NEW GAME</button>
    </div>
</div>