<div class="lobby">
    <div class="lobby-heading">
        You are currently logged in as:
        <div class="name-username">
            <div class="name-user">Name: {{currentUser.name}}</div>
            <div class="username-user">Username: {{currentUser.username}}</div>
        </div>
    </div>
    <div class="lobby-block">   

        <div class="list-heading">
            Available Games:
        </div>
        <ul class="list-games">
            <div class="no-game-message" *ngIf="games.length==0">
                It seems there is no game here, you could create one by yourself if you wish! ;)
            </div>
            <li class="list-group-item" *ngFor="let game of games; let i=index">
                <div class='game-heading'>
                    <div class="game-name">{{game.name}}</div>
                    <div class="game-status" [ngClass]="
                                 {pending: game.status == 'PENDING',
                                 running: game.status == 'RUNNING',
                                 finished: game.status == 'FINISHED'
                                 }">
                        {{game.status}}
                    </div>
                    <button *ngIf=" game.status == 'PENDING' && !inWaitingRoom"
                            class="btn btn-sm btn-primary btn-list" (click)="join(i)" type="submit">
                        JOIN THIS GAME
                    </button>

                </div>
                <div class="players">
                    <div class="players-heading">
                        Players already in this game:
                    </div>
                    <div class="player-row">
                        <div class='player' *ngIf="game.players[0]!=undefined">
                            <div class='username'>{{game.players[0].username}}</div>
                            <div class='status' [ngClass]="
                                    {online: game.players[0].status == 'ONLINE',
                                    offline: game.players[0].status == 'OFFLINE',
                                    isPlaying: game.players[0].status == 'IS_PLAYING',
                                    isReady: game.players[0].status == 'IS_READY',
                                    inALobby: game.players[0].status=='IN_A_LOBBY'
                                     }">{{game.players[0].status}}
                            </div>
                        </div>
                        <div class='player' *ngIf="game.players[1]!=undefined">
                            <div class='username'>{{game.players[1].username}}</div>
                            <div class='status' [ngClass]="
                                    {online: game.players[1].status == 'ONLINE',
                                    offline: game.players[1].status == 'OFFLINE',
                                    isPlaying: game.players[1].status == 'IS_PLAYING',
                                    isReady: game.players[1].status == 'IS_READY',
                                    inALobby: game.players[1].status=='IN_A_LOBBY'
                                     }">{{game.players[1].status}}
                            </div>
                        </div>
                    </div>
                    <div class="player-row">
                        <div class='player' *ngIf="game.players[2]!=undefined">
                            <div class='username'>{{game.players[2].username}}</div>
                            <div class='status' [ngClass]="
                                    {online: game.players[2].status == 'ONLINE',
                                    offline: game.players[2].status == 'OFFLINE',
                                    isPlaying: game.players[2].status == 'IS_PLAYING',
                                    isReady: game.players[2].status == 'IS_READY',
                                    inALobby: game.players[2].status=='IN_A_LOBBY'
                                     }">{{game.players[2].status}}
                            </div>
                        </div>
                        <div class='player' *ngIf="game.players[3]!=undefined">
                            <div class='username'>{{game.players[3].username}}</div>
                            <div class='status' [ngClass]="
                                    {online: game.players[3].status == 'ONLINE',
                                    offline: game.players[3].status == 'OFFLINE',
                                    isPlaying: game.players[3].status == 'IS_PLAYING',
                                    isReady: game.players[3].status == 'IS_READY',
                                    inALobby: game.players[3].status=='IN_A_LOBBY'
                                     }">{{game.players[3].status}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="bottom-buttons">
        <div class="btn logout-button bottom-button" (click)="logout()" [routerLink]="['/login']">LOGOUT</div>
        <div class="btn newgame-button bottom-button" (click)="createNewGame()" *ngIf="!inWaitingRoom">CREATE NEW GAME
        </div>
        <div class="btn ready-button bottom-button" (click)="ready()" *ngIf="inWaitingRoom && !pressedReady">READY</div>
        <div class="btn startgame-button bottom-button" (click)="startGame()"
             *ngIf="inWaitingRoom && createdGame && pressedReady"> START GAME
        </div>
        <div class="wait-info bottom-button" *ngIf="inWaitingRoom && !createdGame && pressedReady">Please wait for the
            owner <br> to start the game
        </div>
    </div>
</div>