.market-card {
    min-width: 140px;
    max-width: 140px;
    min-height: 95px;
    max-height: 95px;
    font-size: 15px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    background: #373737;
    cursor: pointer;
}

.card-title {
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    flex-grow: 0;
    height: 50%;
    padding-top: 3px;
    line-height: 1;

}

.description {
    border-top: 1px solid white;
    text-align: center;
    flex-grow: 0;
    font-size: 12px;
    padding: 3px;
    line-height: 1.0;
}

/*Styles for card title colors:*/
.green {
    background-color: var(--marketGreen);
}

.blue {
    background-color: var(--marketBlue);
}

.red {
    background-color: var(--marketRed);
}

.purple {
    background-color: var(--marketPurple);
}

.placeholder {
    background-color: #373737;
}

/***********************************************************************************************************************
 STATUE TABLE
***********************************************************************************************************************/

.statue-table-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    font-size:12px;
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px;
    border: 1px solid white;
    text-align: center;
}