<div class="parent-block">
    <div class="market-block">
        <div class="market-row">
            <market-card (click)="pickCard(0)" [currentCard]="getCard(0)"></market-card>
            <market-card (click)="pickCard(1)" [currentCard]="getCard(1)"></market-card>
        </div>
        <div class="market-row">
            <market-card (click)="pickCard(2)" [currentCard]="getCard(2)"></market-card>
            <market-card (click)="pickCard(3)" [currentCard]="getCard(3)"></market-card>
        </div>
    </div>
    <div class="info-column">
        <div class="info-hover">
            <span class="hover">
                MARKET
                <ul>
                    <li>For each stone delivered, the owner of the stone can immediately take any 1 card.</li>
                    <li>Pick order is decided by the order of the stones on the ship.</li>
                    <li>All other players can see which card you have.</li>
                    <li>Red cards are required to be played immediately.</li>
                    <li>Blue cards can be played in a later turn of the player who draws it.</li>
                    <li>Green and purple cards will earn you points at the end of the game.</li>
                </ul>
            </span>
        </div>
    </div>
</div>
<div class="cards-selector-block" *ngIf="currentMarket.userColors.length >= 1">
    Player:
    <div class="cards-selector-container">
        <div class="cards-selector" [ngClass]="{
                brown: currentMarket.userColors[0] == 'brown',
                grey: currentMarket.userColors[0] == 'grey',
                black: currentMarket.userColors[0] == 'black',
                white: currentMarket.userColors[0] == 'white'

            }">
            {{getPlayerNameFromColor(currentMarket.userColors[0])}}
        </div>
    </div>
    is required to pick a card.
    <br>
    <span style="color:orange">
        Remember:
    </span>
    <br>
    if a
    <span style="color:red"> RED </span>
    card is chosen, then it must be used immediately!
</div>
