.parent-block {
    display: flex;
}

.market-block {
    flex-grow: 0;
    width: 90%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.market-row {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.market-card {
    flex-grow: 1;
    border: 1px solid black;
}

/***********************************************************************************************************************
Info Column:
***********************************************************************************************************************/

.info-column {
    flex-grow: 1;
    color: black;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-hover {
    min-width: 25px;
    min-height: 25px;
    background-image: url("../../../assets/img/info-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.hover {
    display: none;
    width: 0;
}

.info-hover:hover span {
    display: block;
    position: relative;
    top: -40px;
    left: 25px;
    width: 15em;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}