.login-block{
  opacity: .90; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
  filter: alpha(opacity=50); /* IE lt 8 */
  -ms-filter: "alpha(opacity=50)"; /* IE 8 */
  -khtml-opacity: .50; /* Safari 1.x */
  -moz-opacity: .50; /* FF lt 1.5, Netscape */
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-signin .form-signin-heading{
  margin-top: 350px;

  font-weight:normal;
  color:#000000;
  border: 5px ridge #FFAC05;
  letter-spacing:2pt;
  word-spacing:2pt;
  font-size:43px;
  text-align:center;
  font-family:helvetica, sans-serif;
  line-height:1;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;

}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}