.login-block {
    opacity: .70; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    filter: alpha(opacity=50); /* IE lt 8 */
    -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    -khtml-opacity: .50; /* Safari 1.x */
    -moz-opacity: .50; /* FF lt 1.5, Netscape */
    font-family: 'Sanchez', serif;

}

.form-signin {
    max-width: 30%;
    padding: 0;
    margin: auto;
    margin-top: 25%;
}

/*Heading of login-block*/
.form-signin-heading {

    background-color: #373737;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    letter-spacing: 2pt;
    word-spacing: 2pt;
    font-size: 43px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 2%;
}

.form-signin .checkbox {
    font-weight: normal;
}

/*Fillable text-boxes*/
.form-signin .form-control {
    position: relative;
    text-align: center;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 25px;
    padding: 2%;
    color: white;
    border: 1px solid white;
    background-color: #373737;
}

/*Placeholder for color of font of fillable text - cross-browser*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder { /* IE 10+ */
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.form-control {
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.row {
    margin-top: -4%;
    display: flex;
}

.enter-button {
    flex-grow: 1;
}

.clear-button {
    flex-grow: 1;
}

/*buttons*/
.btn {
    margin-top: 1%;

    color: white;
    border: 1px solid white;
    font-size: 35px;
    background-image: -webkit-linear-gradient(top, var(--colorFour), #777777);
}

/*Hover color for button*/
.btn:hover {
    background-image: -webkit-linear-gradient(top, var(--colorFour), #D0D0D0);
}

.credits {
    text-align: center;
    font-size: 20px;
    color: white;

}