.board-column{
    float: left;
    width: 80%;
}

.info-column{
    float: right;
    width: 20%;
}

table{
    width: 420px;
    height: 90px;
    background-color: #f1f1c1;
    border: 1px solid;
    margin-top: 7px;
}

table, td{
    border: 1px solid;
}
