.gameboard.row{
    height: 768px;
    width: 1366px;
    margin: 0px;
}

.player.col-lg-10{
    height: 768px;
    width: 1010px;
    margin: 0px;
}

.gameboard.row{
    height: 599px;
    width: 1010px;
    margin: 0px;
}

.ship-area.col-xs-4{
    background-color: #1b6d85;
    border-style: ridge;
    height: 599px;
    width: 260px;
    margin: 0px;
}

.siteboards.col-xs-4{
    background-color: #c0a16b;
    border-style: ridge;
    height: 599px;
    width: 438px;
    margin: 0px;
}

.cards.col-xs-4{
    background-color: #8c6549;
    border-style: ridge;
    height: 599px;
    width: 298px;
    padding-right: 15px;
    margin: 0px;
}

.player.row{
    background-color: #8c6549;
    border-style: ridge;
    height: 169px;
    width: 996px;
    padding-left: 15px;
    margin: 0px;
}

.opposing-players.col-lg-2{
    background-color: #8c6549;
    border-style: ridge;
    height: 768px;
    width: 354px;
    margin: 0px;
}


