.game-block {
    height: 768px;
    width: 1366px;
    padding: 0;
    margin: 0;
    display: flex;
}

.left-column {
    height: 100%;
    width: 78%;
    margin: 0;
}

.gameboard-block {
    height: 78%;
    width: 100%;
    margin: 0;
    display: flex;
}


.harbour-column {
    height: 100%;
    width: 30%;
    border: 1px solid white;
    margin: 0;
    background-color: var(--colorSix);

}

/***********************************************************************************************************************
Siteboards
***********************************************************************************************************************/

.siteboard-column {
    height: 100%;
    width: 40%;
    border: 1px solid white;
    margin: 0;
    background-color: var(--colorTwo);
}

.market{
    height: 30%;
    margin: 0;
    border: 1px solid black;
}

.pyramid{
    height: 20%;
    margin: 0;
    border: 1px solid black;
}

.temple{
    height: 13%;
    margin: 0;
    border: 1px solid black;
}

.burial-chamber{
    height: 20%;
    margin: 0;
    border: 1px solid black;
}


.obelisk{
    height: 17%;
    margin: 0;
    border: 1px solid black;
}

/***********************************************************************************************************************
Infoboard
***********************************************************************************************************************/

.info-board-column {
    height: 100%;
    width: 30%;
    margin: 0;
    background-color: var(--colorFour);
}

/***********************************************************************************************************************
Current player
***********************************************************************************************************************/

.currentPlayer-block {
    height: 22%;
    width: 100%;
    margin: 0;
}

/***********************************************************************************************************************
Opposing players
***********************************************************************************************************************/

.opposing-players.right-column {
    height: 100%;
    width: 22%;
    margin: 0;
    background-color: var(--colorFour);
}

.opposing-players {
    height: 20%;
    width: auto;
    background-color: #373737;
}