.game.row{
    height: 768px;
    width: 1366px;
    margin: 0px;
    font-size: 15px;
}

.player.col-lg-10{
    height: 768px;
    width: 1010px;
    margin: 0px;
    padding: 0px;
}

.opposing-players.col-lg-2{
    background-color: var(--colorFour);
    border-style: ridge;
    height: 768px;
    width: 356px;
    margin: 0px;
}

.gameboard.row{
    height: 599px;
    width: 1010px;
    margin: 0px;
}

.harbour.col-md-4{
    background-color: var(--colorSix);
    border-style: ridge;
    height: 599px;
    width: 262px;
    padding: 0px;
    margin: 0px;
}

.siteboards.col-md-4{
    background-color: var(--colorTwo);
    border-style: ridge;
    height: 599px;
    width: 440px;
    margin: 0px;
}

.cards.col-md-4{
    background-color: var(--colorFour);
    border-style: ridge;
    height: 599px;
    width: 308px;
    padding-right: 15px;
    margin: 0px;
}

.player.row{
    background-color: var(--colorFour);
    border-style: ridge;
    height: 169px;
    width: 1010px;
    padding-left: 15px;
    margin: 0px;
}

.market.row{
    border: 1px solid;
    border-color: #080808;
    height: 185px;
}

.pyramid.row{
    border: 1px solid;
    border-color: #080808;
    height: 125px;
}

.temple.row{
    border: 1px solid;
    border-color: #080808;
    height: 79px;
}

.burial-chamber.row{
    border: 1px solid;
    border-color: #080808;
    height: 110px;
}

.obelisk.row{
    border: 1px solid;
    border-color: #080808;
    height: 95px;
}
