<div class="game-block">
    <div class="left-column">
        <div class="gameboard-block">
            <div class="harbour-column">
                <harbour></harbour>
            </div>
            <div class="siteboard-column">
                <market-siteboard></market-siteboard>
                <pyramid-siteboard></pyramid-siteboard>
                <temple-siteboard></temple-siteboard>
                <burialchamber-siteboard></burialchamber-siteboard>
                <obelisk-siteboard></obelisk-siteboard>
            </div>
            <div class="info-board-column">
                <info-board></info-board>
            </div>
        </div>
        <div class="currentPlayer-block">
            <current-player [currentUser]="getUser()"></current-player>
        </div>
    </div>

    <div class="opposing-players right-column">
        <opposing-player *ngFor="let opposingUser of getOpposingPlayers()"
                         [opposingUser]="opposingUser"></opposing-player>
    </div>

</div>
<!--


<div class="game row">
<div class="player col">
    <div class="gameboard row">
        <div class="harbour col">
            <harbour></harbour>
        </div>

        <div class="siteboards col-md-4">
            <div class="market row">
                <market-siteboard></market-siteboard>
            </div>

            <div class="pyramid row">
                <pyramid-siteboard></pyramid-siteboard>
            </div>

            <div class="temple row">
                <temple-siteboard></temple-siteboard>
            </div>

            <div class="burial-chamber row">
                <burialchamber-siteboard></burialchamber-siteboard>
            </div>

            <div class="obelisk row">
                <obelisk-siteboard></obelisk-siteboard>
            </div>
        </div>
        <!--left we have the variable name in info-board, right the variable name in game-component-->
<!--  <div class="cards col-md-4">
          <info-board [currentGame]="currentGame"></info-board>
      </div>

  </div>
 <div class="player row ">
      <current-player [currentUser]="getUser()"></current-player>
  </div>
</div>

<div class="opposing-players right-column">
  <opposing-player *ngFor="let opposingUser of getOpposingPlayers()"
                   [opposingUser]="opposingUser"></opposing-player>
</div>
</div>



-->




