<div class="parent-block">
    <div class="heading">
        <div class="player-info">
            <div class="player-username">
                Player.username
            </div>
            <div class="player-quarry">
                Quarry
            </div>
        </div>
        <div class="supply-sled">
            <div class="first-row">
                <div class="stone">

                </div>
                <div class="stone">

                </div>

            </div>
            <div class="second-row">
                <div class="stone">

                </div>
                <div class="stone">

                </div>
                <div class="stone">

                </div>
            </div>

        </div>
    </div>


    <div class="cards-block">
        opposing player's own card go here
    </div>
</div>

