<!--used to define height of opposingUser tab dynamically-->
<div class="parent-block" [style.height.%]="(100/opposingUsersCount)">
    <div class="heading">
        <div class="player-info">
            <div class="player-username"
                 [ngClass]="{highlight: currentPlayerId==opposingUser.id,
                    next_highlight: nextPlayerId == opposingUser.id}">
                {{opposingUser.username}}
            </div>
            <div class="player-quarry" [ngClass]="
                                 {brown: opposingUser.color == 'brown',
                                 grey: opposingUser.color == 'grey',
                                 black: opposingUser.color == 'black',
                                 white: opposingUser.color == 'white'
                                 }">
                Quarry
            </div>
        </div>
        <div class="supply-sled">
            <div class="first-row">
                <div class="stone" [ngClass]="
                                 {brown: opposingUser.color == 'brown' && opposingUser.supplySled >= 4,
                                 grey: opposingUser.color == 'grey' && opposingUser.supplySled >= 4,
                                 black: opposingUser.color == 'black' && opposingUser.supplySled >= 4,
                                 white: opposingUser.color == 'white' && opposingUser.supplySled >= 4
                                 }">
                </div>
                <div class="stone" [ngClass]="
                                 {brown: opposingUser.color == 'brown' && opposingUser.supplySled >= 5,
                                 grey: opposingUser.color == 'grey' && opposingUser.supplySled >= 5,
                                 black: opposingUser.color == 'black' && opposingUser.supplySled >= 5,
                                 white: opposingUser.color == 'white' && opposingUser.supplySled >= 5
                                 }">
                </div>
            </div>
            <div class="second-row">
                <div class="stone" [ngClass]="
                                 {brown: opposingUser.color == 'brown' && opposingUser.supplySled >= 1,
                                 grey: opposingUser.color == 'grey' && opposingUser.supplySled >= 1,
                                 black: opposingUser.color == 'black' && opposingUser.supplySled >= 1,
                                 white: opposingUser.color == 'white' && opposingUser.supplySled >= 1
                                 }">

                </div>
                <div class="stone" [ngClass]="
                                 {brown: opposingUser.color == 'brown' && opposingUser.supplySled >= 2,
                                 grey: opposingUser.color == 'grey' && opposingUser.supplySled >= 2,
                                 black: opposingUser.color == 'black' && opposingUser.supplySled >= 2,
                                 white: opposingUser.color == 'white' && opposingUser.supplySled >= 2
                                 }">

                </div>
                <div class="stone" [ngClass]="
                                 {brown: opposingUser.color == 'brown' && opposingUser.supplySled >= 3,
                                 grey: opposingUser.color == 'grey' && opposingUser.supplySled >= 3,
                                 black: opposingUser.color == 'black' && opposingUser.supplySled >= 3,
                                 white: opposingUser.color == 'white' && opposingUser.supplySled >= 3
                                 }">
                </div>
            </div>
        </div>
    </div>
    <div class="cards-block">
        <div class="cards-container">
            <div class="cards">
                <div class="market-card" *ngFor="let card of currentCards, let i=index">
                    <market-card [currentCard]="currentCards[i]"></market-card>
                </div>
            </div>
        </div>
    </div>
</div>

