.parent-block {
    height: 256px;
    color: white;
    background-image: -webkit-linear-gradient(top, var(--colorFour), #373737);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

/***********************************************************************************************************************
Heading
***********************************************************************************************************************/
.heading {
    flex-grow: 1;
    flex-shrink: 9;
    min-height: 75px;
    border: 1px solid white;
    display: flex;
    height: 30px;;
}

.player-info {
    flex-grow: 3;
    border: 1px solid white;
}

.player-username-container {
    border: 1px solid white;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-username {
    text-align: center;
    font-size: 17px;
}

.player-quarry-container {
    border: 1px solid black;
    height: 50%;
    background-color: #770000;
    line-height: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-quarry {
    text-align: center;

}

.supply-sled {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

.second-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

.stone {
    flex-grow: 0;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

/***********************************************************************************************************************
Cards
***********************************************************************************************************************/
.cards-block {
    width: 100%;
    height: 70%;

}

.cards-container {
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cards {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;}

.market-card {
    align-self: center;
    flex-grow: 0;
}

/***********************************************************************************************************************
Dynamic styles for quarry and stones and turn highlight:
***********************************************************************************************************************/
.brown {
    background-color: var(--brownStone);
}

.grey {
    background-color: var(--greyStone);
}

.black {
    background-color: var(--blackStone);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-color: var(--whiteStone);
    color: black;
}

.highlight {
    border: 8px solid var(--turn);
    border-radius: 10px;
}

.next_highlight {
    border: 8px solid var(--nextTurn);
    border-radius: 10px;
}