.parent-block {
    height: 256px;
    color: white;
    display: flex;
    flex-direction: column;
    border-left:3px solid rgba(69,69,69,0.8);
    border-top:3px solid rgba(69,69,69,0.8);


}

/***********************************************************************************************************************
Heading
***********************************************************************************************************************/
.heading {
    flex-grow: 1;
    flex-shrink: 9;
    min-height: 75px;
    display: flex;
    height: 30px;;
}

.player-info {
    flex-grow: 3;
}

.player-username-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}

.player-username {
    text-align: center;
    font-size: 17px;
}

.player-quarry-container {
    border-radius:5px;
    border-top: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 50%;
    background-color: #770000;
    line-height: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-quarry {
    text-align: center;

}

.supply-sled {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

.second-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

.stone {
    flex-grow: 0;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius:2px;
    margin:1px;
}

/***********************************************************************************************************************
Cards
***********************************************************************************************************************/
.cards-block {
    width: 100%;
    height: 70%;

}

.cards-container {
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cards {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.market-card {
    align-self: center;
    flex-grow: 0;
}

/***********************************************************************************************************************
Dynamic styles for quarry and stones and turn highlight:
***********************************************************************************************************************/
.brown {
    background-image: url(../../../assets/img/brownStone.png);
}

.grey {
    background-image: url(../../../assets/img/greyStone.png);
}

.black {
    background-image: url(../../../assets/img/blackStone.png);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-image: url(../../../assets/img/whiteStone.png);
    color: black;
}

.highlight {
    border: 8px solid var(--turn);
}

/***********************************************************************************************************************
 CUSTOM SCROLLBAR
 **********************************************************************************************************************/
#scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 0.8);
}

#scrollable::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(150, 150, 150, 0);
}

#scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(55, 55, 55, 0.9);
}
