.parent-block {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    text-align: center;
}

.pyramid-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.block {
    text-align: center;
    line-height: 2.1;
    flex-grow: 0;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius:2px;
    margin:1px;
}

.pyramid-base {
    display: flex;
    margin: 10px;
}

.pyramid-middle {
    display: flex;
    margin: 10px;

}

.pyramid-top {
    margin: 10px;
}

.pyramid-surplus {
    min-width: 10px;
    max-width:80px;
    display: flex;
    flex-direction: column;
}

.surplus-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.surplus-description{
    color: white;
    background: rgba(69,69,69,0.7);
    border-radius:5px;
}
.surplus-points {
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************************************************************************
Info Column:
***********************************************************************************************************************/

.info-column {
    color: white;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-hover {
    min-width: 25px;
    min-height: 25px;
    background-image: url("../../../assets/img/info-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.info-hover:hover {
    background-position: center;
    background-size: contain;
}

.hover {
    display: none;
}

.info-hover:hover span {
    display: block;
    position: relative;
    left: 25px;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(55, 55, 55, 0.8);
    color: white;
    text-align: center;
    z-index:10;
    padding:10px;

}

/***********************************************************************************************************************
Dynamic styles for stones:
***********************************************************************************************************************/
.brown {
    background-image: url(../../../assets/img/brownStone.png);
}

.grey {
    background-image: url(../../../assets/img/greyStone.png);
}

.black {
    background-image: url(../../../assets/img/blackStone.png);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-image: url(../../../assets/img/whiteStone.png);
    color: black;
}
