/*Imported Fonts:*/

@font-face {
    font-family: 'Sanchez',serif;
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/sanchez-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Sanchez'), local('Sanchez-Regular'),
    url('../assets/fonts/sanchez-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/sanchez-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/sanchez-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/sanchez-v4-latin-regular.svg#Sanchez') format('svg'); /* Legacy iOS */
}


/*
this is a sample style declaration for simple texts:
.color1Text {
   color: white;
   background-color: tomato;
   margin: 10px;
   width: 50px;
   height: 30px;
   display: inline-block;
 }
*/