<div class="parent-block">
    <div class="undocked-ships">
        <div *ngFor="let ship of currentShips;let shipIndex = index" class="ship{{shipIndex + 1}} ship">
            <div class="stones-container">
                <img class="ship-image image" src="{{getShipSrc(shipIndex)}}" (click)="selectShip(shipIndex)" >
                <div  *ngFor="let stone of ship.stones; let stoneIndex=index" class="stone stone-{{ship.id}}-{{stoneIndex}} btn"
                     (click)="addStone(shipIndex,stoneIndex)"
                     [ngClass]="{
                        empty: stone.color == 'none',
                        brown: stone.color == 'brown',
                        grey: stone.color == 'grey',
                        black: stone.color == 'black',
                        white: stone.color == 'white'
                        }">
                </div>
            </div>
            <div class="ship-selector{{shipIndex + 1}} ship-selector" *ngIf="ship.isReady && !ship.docked"
                 (click)="selectShip(shipIndex)" >


                <!--<div class="selector-button btn" (click)="selectShip(shipIndex)">-->
                    <!--Select this ship.-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="docks">
            <!--<img src="../../../assets/img/Ship1-75x36.png" style="height:36px;background-attachment: fixed; background-position: right; justify-self: right;">-->

        <div class="market-dock dock">
            <img class="empty-image empty-image-market" src="{{getEmptyShipSrc('market')}}">
            <div class="dock-button btn" (click)="selectDock('market')"></div>
        </div>
        <div class="pyramid-dock dock">
            <img class="empty-image empty-image-pyramid" src="{{getEmptyShipSrc('pyramid')}}">
            <div class="dock-button btn" (click)="selectDock('pyramid')"></div>
        </div>
        <div class="temple-dock dock">
            <img class="empty-image empty-image-temple" src="{{getEmptyShipSrc('temple')}}">
            <div class="dock-button btn" (click)="selectDock('temple')"></div>
        </div>
        <div class="burialchamber-dock dock">
            <img class="empty-image empty-image-burialchamber" src="{{getEmptyShipSrc('burialchamber')}}">
            <div class="dock-button btn" (click)="selectDock('burialchamber')"></div>
        </div>
        <div class="obelisk-dock dock">
            <img class="empty-image empty-image-obelisk" src="{{getEmptyShipSrc('obelisk')}}">
            <div class="dock-button btn" (click)="selectDock('obelisk')"></div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-hover">
            <span class="hover">
                 - MOVES -
                <ul>
                    <li>You can click on your own quarry to retrieve up to 3 stones (bottom left).</li>
                    <li>If you have enough stones on your supply sled, you can click on the "+" button on a ship to place there one of your own stones.</li>
                    <li>When a ship becomes selectable, to move it towards a dock you have to first select it and then click on the dock (red dot) of your choosing</li>
                    <li>To play a card you have to double click it.</li>
                    <li>When a stone is placed, you can see it highlighted in yellow directly on the ship.</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="fast-forward btn bottom-btn" (click)="fastForward()">

    </div>
    <div class="show-wave btn bottom-btn" (click)="swapWave()">
        <div class="start-swey" *ngIf="!showWave">
            start swey
        </div>
        <div class="stop-swey" *ngIf="showWave">
            stop swey
        </div>
    </div>
</div>