.ship-column {
    float: left;
    width: 50%;
    height: 100%;
}

.list-group-item{
    display: inline-flex;
    border-radius: 60%;
    background-color: var(--colorOne);
}

.harbour-column {
    float: right;
    width: 50%;
    height: 100%;
}

.stone {
    flex-grow: 0;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

/***********************************************************************************************************************
Docks
***********************************************************************************************************************/

.panel.dock1 {
    margin-top: 45%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 20px solid grey;
}

.panel.dock2 {
    margin-top: 65%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 20px solid grey;
}

.panel.dock3 {
    margin-top: 35%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 20px solid grey;
}

.panel.dock4 {
    margin-top: 35%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 20px solid grey;
}

.panel.dock5 {
    margin-top: 45%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 20px solid grey;
}

.panel-body {
    height: 45px;
    padding: 0;
    border: none;
    background-color: var(--colorSix);
}


/***********************************************************************************************************************
Dynamic styles stones
***********************************************************************************************************************/

.grey{
    background-color: var(--greyStone);
}

:host(.brownStone) {
    flex-grow: 0;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: var(--brownStone);
}


:host(.greyStone) {
    flex-grow: 0;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: var(--greyStone);
}

:host(.blackStone) {
    flex-grow: 0;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: var(--blackStone);
}

:host(.whiteStone) {
    /* If background is white then font color must be black for better readability*/
    flex-grow: 0;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: var(--whiteStone);
    color: black;
}


/***********************************************************************************************************************
Dynamic styles for stone colors:
***********************************************************************************************************************/
.brown {
    background-color: var(--brownStone);
}

.grey {
    background-color: var(--greyStone);
}

.black {
    background-color: var(--blackStone);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-color: var(--whiteStone);
    color: black;
}

.empty{
    background-color: rgba(0,0,0,0);

}