.parent-block {
    height: 100%;
    width: 100%;
    display: flex;
}

/***********************************************************************************************************************
Ships
 **********************************************************************************************************************/
.undocked-ships {
    flex-grow: 1;
    height: 100%;
    min-width: 50%;
}

.ship {
    position: relative;
    flex-grow: 0;
    max-height: 36px;
    min-height: 36px;
    align-self: center;
    width: 210px;
    color: white;
}

.image {
    position: absolute;
    flex-grow: 0;
    top: 0.5px;
    max-height: 36px;
    min-height: 36px;
    align-self: center;
}

.stones-container {
    align-self: center;
    justify-content: center;
    display: flex;
}

.stone {
    flex-grow: 0;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    z-index: 1;
    margin: 2.5px;
    line-height: 0.2;
    text-align: center;
    padding: 3px;
}

.ship-selector {
    position: relative;
    text-align: center;
    left: 25px;
    top: -45px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, brown);
    width: 185px;

}

.selector {
    min-height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.selector-button {
    position: relative;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.selector-button:hover {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: white;
}

.selector-button:active {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: white;
    box-shadow: 0;
}

/***********************************************************************************************************************
Docks
 **********************************************************************************************************************/
.docks {
    flex-grow: 1;
    height: 100%;
    min-width: 50%;

}

.dock {
    height: 40px;
    width: 40px;
    border: 2px solid yellow;
    background: brown;
    border-radius: 40px;
    position: relative;
    right: -177px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.dock-button{
    position:relative;
    min-height:38px; /*40 - 2 px border */
    min-width:38px;
    border-radius: 20px;
    right:2px;
}

.market-dock {
    top: 87px;
}

.pyramid-dock {
    top: 213px;
}

.temple-dock {
    top: 273px;
}

.burialchamber-dock {
    top: 325px;
}

.obelisk-dock {
    top: 390px;
}

.empty-image {
    position: relative;
    height: 36px;
}

/***********************************************************************************************************************
Info Column:
***********************************************************************************************************************/

.info-column {
    border: 2px solid #888888;
    border-radius: 10px;
    height: 40px;
    position: relative;
    top: 555px;
    /*right: 175px;*/
    right: 250px;
    flex-grow: 1;
    color: black;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-hover {
    min-width: 25px;
    min-height: 25px;
    background-image: url("../../../assets/img/info-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.hover {
    display: none;
    width: 0;
}

.info-hover:hover {
    background-position: center;
    background-size: contain;
}

.info-hover:hover span {
    display: block;
    position: relative;
    bottom: 175px;
    right: 137px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding-right: 20px;
    z-index: 3;
}

/***********************************************************************************************************************
Dynamic styles for stone colors:
***********************************************************************************************************************/
.brown {
    background-color: var(--brownStone);
    border-radius: 0;
    color: rgba(0, 0, 0, 0);
}

.grey {
    background-color: var(--greyStone);
    border-radius: 0;
    color: rgba(0, 0, 0, 0);

}

.black {
    background-color: var(--blackStone);
    border-radius: 0;
    color: rgba(0, 0, 0, 0);

}

.white {
    /* If background is white then font color must be black for better readability*/
    background-color: var(--whiteStone);
    color: black;
    border-radius: 0;
    color: rgba(0, 0, 0, 0);

}

.empty {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../../../assets/img/plus-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
}

/*FAST FORWARD ********************************************************************************************************/

.fast-forward {
    height: 30px;
    width: 150px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    top: 565px;
    right: 200px;
    text-align: center;
}