.parent-block {
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, var(--colorFour), #373737);
    border: 1px solid white;

}

/***********************************************************************************************************************
Heading
***********************************************************************************************************************/
.heading {
    flex-grow: 1;
    border: 1px solid white;
    width: 20%;
    height: 100%;
}

.player-username {
    text-align: center;
    border: 1px solid white;
    height: 30%;
    line-height: 2;
    font-size: 20px;
}

.sled-and-quarry {
    display: flex;
    height: 70%;
}

.player-quarry {
    flex-grow: 1;
    text-align: center;
    border: 1px solid white;
    background-color: #770000;
    line-height: 6;
}

.supply-sled {
    flex-grow: 1;
    padding: 25px;
    align-self: center;
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

.stone {
    flex-grow: 0;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

/***********************************************************************************************************************
Cards:
***********************************************************************************************************************/
.cards-block {
    flex-grow: 6;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cards-container {
    display: flex;
    overflow: scroll;
    width: 100%;
}

.market-card {
    min-width: 107px;
    max-width: 107px;
    min-height: 81px;
    max-height: 81px;
    font-size: 12px;
    flex-grow: 1;
    align-self: center;
    margin: 5px;
    border: 1px solid white;
}

.image-and-description {
    display: flex;
    height: 80%;

}

.card-image {
    flex-grow: 1;
    flex-shrink: 0;
}

.card-description {
    flex-grow: 3;
    flex-shrink: 0;
    width: 80%;
    font-size: 10px;
}

/*Styles for card title colors:*/
.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

/***********************************************************************************************************************
Dynamic styles for quarry, stones and turn highlight:
***********************************************************************************************************************/
.brown {
    background-color: var(--brownStone);
}

.grey {
    background-color: var(--greyStone);
}

.black {
    background-color: var(--blackStone);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-color: var(--whiteStone);
    color: black;
}

.highlight {
    /* If background is of color '--turn' then font color must be black for better readability*/
    background-color: var(--turn);
    color: black;
}

.next_highlight {
    background-color: var(--nextTurn);
}