<div class="parent-block">
    <div class="heading">
        <div class="player-username-container"
             [ngClass]="{highlight: currentUser.id==currentGame.currentPlayer ,
                next_highlight: currentUser.id==currentGame.nextPlayer}">
            <div class="player-username">
                {{currentUser.username}}
            </div>
        </div>
        <div class="sled-and-quarry">
            <div class="btn player-quarry" (click)="triggerAddStones()" [ngClass]="
                                 {brown: currentUser.color == 'brown',
                                 grey: currentUser.color == 'grey',
                                 black: currentUser.color == 'black',
                                 white: currentUser.color == 'white'
                                 }">
                Quarry
            </div>
            <div class="supply-sled">
                <div class="first-row">
                    <div class="stone" [ngClass]="
                                 {brown: currentUser.color == 'brown' && currentUser.supplySled >= 4,
                                 grey: currentUser.color == 'grey' && currentUser.supplySled >= 4,
                                 black: currentUser.color == 'black' && currentUser.supplySled >= 4,
                                 white: currentUser.color == 'white' && currentUser.supplySled >= 4
                                 }">
                    </div>
                    <div class="stone" [ngClass]="
                                 {brown: currentUser.color == 'brown' && currentUser.supplySled >= 5,
                                 grey: currentUser.color == 'grey' && currentUser.supplySled >= 5,
                                 black: currentUser.color == 'black' && currentUser.supplySled >= 5,
                                 white: currentUser.color == 'white' && currentUser.supplySled >= 5
                                 }">
                    </div>
                </div>
                <div class="second-row">
                    <div class="stone" [ngClass]="
                                 {brown: currentUser.color == 'brown' && currentUser.supplySled >= 1,
                                 grey: currentUser.color == 'grey' && currentUser.supplySled >= 1,
                                 black: currentUser.color == 'black' && currentUser.supplySled >= 1,
                                 white: currentUser.color == 'white' && currentUser.supplySled >= 1
                                 }">
                    </div>
                    <div class="stone" [ngClass]="
                                 {brown: currentUser.color == 'brown' && currentUser.supplySled >= 2,
                                 grey: currentUser.color == 'grey' && currentUser.supplySled >= 2,
                                 black: currentUser.color == 'black' && currentUser.supplySled >= 2,
                                 white: currentUser.color == 'white' && currentUser.supplySled >= 2
                                 }">
                    </div>
                    <div class="stone" [ngClass]="
                                 {brown: currentUser.color == 'brown' && currentUser.supplySled >= 3,
                                 grey: currentUser.color == 'grey' && currentUser.supplySled >= 3,
                                 black: currentUser.color == 'black' && currentUser.supplySled >= 3,
                                 white: currentUser.color == 'white' && currentUser.supplySled >= 3
                                 }">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-block">
        <div class="cards-container">
            <div class="market-card" *ngFor="let card of currentUserCards">
                <market-card (click)="useCard(card.id)" [currentCard]="card"></market-card>
            </div>
        </div>
    </div>
</div>
