<div class="parent-block">
    <div class="heading">
        <div class="player-username-container"
             [ngClass]="{highlight: currentUser?.id==currentGame?.currentPlayer}">
            <div class="player-username">
                {{currentUser.username}}
            </div>
        </div>
        <div class="sled-and-quarry">
            <div class="btn player-quarry" (click)="retrieveStones()" [ngClass]="
                                 {brown: currentUser?.color == 'brown',
                                 grey: currentUser?.color == 'grey',
                                 black: currentUser?.color == 'black',
                                 white: currentUser?.color == 'white'
                                 }">
                Quarry
            </div>
            <div class="supply-sled">
                <div class="first-row">
                    <div class="stone" [ngClass]="
                                 {brown: currentUser?.color == 'brown' && currentUser?.supplySled >= 4,
                                 grey: currentUser?.color == 'grey' && currentUser?.supplySled >= 4,
                                 black: currentUser?.color == 'black' && currentUser?.supplySled >= 4,
                                 white: currentUser?.color == 'white' && currentUser?.supplySled >= 4
                                 }">
                    </div>
                    <div class="stone" [ngClass]="
                                 {brown: currentUser?.color == 'brown' && currentUser?.supplySled >= 5,
                                 grey: currentUser?.color == 'grey' && currentUser?.supplySled >= 5,
                                 black: currentUser?.color == 'black' && currentUser?.supplySled >= 5,
                                 white: currentUser?.color == 'white' && currentUser?.supplySled >= 5
                                 }">
                    </div>
                </div>
                <div class="second-row">
                    <div class="stone" [ngClass]="
                                 {brown: currentUser?.color == 'brown' && currentUser?.supplySled >= 1,
                                 grey: currentUser?.color == 'grey' && currentUser?.supplySled >= 1,
                                 black: currentUser?.color == 'black' && currentUser?.supplySled >= 1,
                                 white: currentUser?.color == 'white' && currentUser?.supplySled >= 1
                                 }">
                    </div>
                    <div class="stone" [ngClass]="
                                 {brown: currentUser?.color == 'brown' && currentUser?.supplySled >= 2,
                                 grey: currentUser?.color == 'grey' && currentUser?.supplySled >= 2,
                                 black: currentUser?.color == 'black' && currentUser?.supplySled >= 2,
                                 white: currentUser?.color == 'white' && currentUser?.supplySled >= 2
                                 }">
                    </div>
                    <div class="stone" [ngClass]="
                                 {brown: currentUser?.color == 'brown' && currentUser?.supplySled >= 3,
                                 grey: currentUser?.color == 'grey' && currentUser?.supplySled >= 3,
                                 black: currentUser?.color == 'black' && currentUser?.supplySled >= 3,
                                 white: currentUser?.color == 'white' && currentUser?.supplySled >= 3
                                 }">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-block">
        <div class="cards-container" id="scrollable">
            <div class="market-card" *ngFor="let card of currentUserCards">
                <market-card (click)="useCard(card.id)" [currentCard]="card"></market-card>
            </div>
        </div>
    </div>
</div>
<div class="action-cards-block" *ngIf="showActionCardBlock()">
    <div class="action-cards-container">
        <div class="chisel-message" *ngIf="currentGame?.isActionCardChisel != 0">
            <div class="chisel-2" *ngIf="currentGame?.isActionCardChisel == 2">
                Place two stones where you want.<br>
                Stones already placed: 0.
            </div>
            <div class="chisel-1" *ngIf="currentGame?.isActionCardChisel == 1">
                Place two stones where you want.<br>
                Stones already placed: 1.
            </div>
        </div>
        <div class="sail-message" *ngIf="currentGame?.isActionCardSail != 0">
            <div class="sail-2" *ngIf="currentGame?.isActionCardSail == 2">
                First place one stone on a ship. <br>
                A ship can be sailed later.
            </div>
            <div class="sail-1" *ngIf="currentGame?.isActionCardSail == 1">
                Now you can sail a ship to a site.
            </div>
        </div>
        <div class="hammer-message" *ngIf="currentGame?.isActionCardHammer">
            3 Stones have been placed on your supply sled, now you can place one on a ship.
        </div>
        <div class="lever-message" *ngIf="currentGame?.isActionCardLever.length != 0">
            <div class="lever-message-part1" *ngIf="currentGame?.isActionCardLever[0]=='played'">
                Choose a ship, as soon as you sailed it to a site you will be prompted about the stones order.
            </div>
            <div class="lever-message-part2" *ngIf="currentGame?.isActionCardLever?.length != 0 && currentGame?.isActionCardLever[0] != 'played'">
                Click on the stones to select an order:
            </div>
            <div class="lever-selection-button"></div>
            <div class="lever-selection" *ngIf="currentGame?.isActionCardLever?.length != 0 && currentGame?.isActionCardLever[0] != 'played'">
                <div class="lever-selection-container" *ngFor="let color of currentGame?.isActionCardLever; let i=index">
                    <div class="lever-selection-element">
                        <div class="element-color btn" (click)="selected(i)"
                             [ngClass]="
                                {brown: color == 'brown',
                                 grey: color == 'grey',
                                 black: color == 'black',
                                 white: color == 'white'
                                 }
                                ">
                        </div>
                        <div class="element-order" *ngIf="getElementOrder(i) === 1">
                            1st
                        </div>
                        <div class="element-order" *ngIf="getElementOrder(i) === 2">
                            2nd
                        </div>
                        <div class="element-order" *ngIf="getElementOrder(i) === 3">
                            3rd
                        </div>
                        <div class="element-order" *ngIf="getElementOrder(i) === 4">
                            4th
                        </div>
                        <div class="element-order" *ngIf="getElementOrder(i) === 0">
                            -
                        </div>
                    </div>

                </div>
                <div class="reset-selection-button btn" (click)="resetLeverSelection()">
                    Reset Selection
                </div>
                <div class="confirm-selection-button btn" (click)="confirmLeverSelection()">
                    Confirm
                </div>
            </div>
        </div>
    </div>
</div>
