.container.dock{
    border: 1px solid;
    height: 40px;
    margin-left: 150px;
    margin-right: 0px;
}


.panel-body{
    background-color: var(--colorSix);
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 100px;
}

li.list-group-item{
    background-color: var(--colorFive);
}