<div class = "harbour">
    <div class="row">
        <div class="col-xs-6">
            <ul class="list-group">
                <li draggable *ngFor="let item of items" [dragData]="item" class="list-group-item">{{item.name}}</li>
            </ul>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-default" droppable (onDrop)="onItemDrop($event)" >
                <div class="panel-heading">Dock</div>
                <div class="panel-body">
                    <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
                </div>
            </div>
        </div>
    </div>
</div>

