.parent-block {
    display: flex;
    width: 100%;
    height: 100%;

}

.temple-block {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-grow: 1;
    min-width: 75%;
}

.temple-description {
    flex-grow: 1;
    min-width: 25%;
}

.temple-row {
    display: flex;
}

.block {
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    flex-grow: 1;
    border: 1px solid black;
}

.temple-info {
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
}

.temple-description {
    font-size: 15px;
    text-align: center;
    flex-grow: 1;
    width: 100%;
}

/***********************************************************************************************************************
Dynamic styles for stones:
***********************************************************************************************************************/
.brown {
    background-color: var(--brownStone);
}

.grey {
    background-color: var(--greyStone);
}

.black {
    background-color: var(--blackStone);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-color: var(--whiteStone);
    color: black;
}