.parent-block {
    display: flex;
    width: 100%;
    height: 100%;

}

.temple-block {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-grow: 1;
    min-width: 75%;
}

.temple-description {
    flex-grow: 1;
    min-width: 25%;
}

.temple-row {
    display: flex;
}

.marker {
    min-width: 15px;
    max-width: 15px;
    min-height: 50px;
    max-height: 50px;
    border: 1px solid black;
    background: var(--turn);
    line-height:3.5;
}

.block {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:1px;
    margin-right:1px;
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    flex-grow: 1;
    border: 1px solid black;
    border-radius:2px;

}

.temple-info {
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
}

.temple-description {
    font-size: 15px;
    text-align: center;
    flex-grow: 1;
    width: 100%;
}

/***********************************************************************************************************************
Info Column:
***********************************************************************************************************************/

.info-column {
    color: black;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-hover {
    min-width: 25px;
    min-height: 25px;
    background-image: url("../../../assets/img/info-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.info-hover:hover {
    background-position: center;
    background-size: contain;
}

.hover {
    display: none;
    width: 0;
}

.info-hover:hover span {
    display: block;
    position: relative;
    left: 25px;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(55, 55, 55, 0.8);
    color: white;
    text-align: center;
    z-index: 10;
    padding: 10px;
}

/***********************************************************************************************************************
Dynamic styles for stones:
***********************************************************************************************************************/
.brown {
    background-image: url(../../../assets/img/brownStone.png);
}

.grey {
    background-image: url(../../../assets/img/greyStone.png);
}

.black {
    background-image: url(../../../assets/img/blackStone.png);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-image: url(../../../assets/img/whiteStone.png);
    color: black;
}
