<div class="parent-block">
    <div class="temple-block">
        <div class="temple-row">
            <div class="marker marker1" *ngIf="currentTemple?.stones?.length>=1 && currentTemple?.insertIndex==0">►</div>
            <div class="first-block block"
                 *ngIf="currentTemple?.stones?.length>=1"
                 [ngClass]="
                     {brown: currentTemple?.stones[0]?.color == 'brown',
                     grey: currentTemple?.stones[0]?.color == 'grey',
                     black: currentTemple?.stones[0]?.color == 'black',
                     white: currentTemple?.stones[0]?.color == 'white'
                     }">
            </div>

            <div class="marker marker2" *ngIf="currentTemple?.stones?.length>=2 && currentTemple?.insertIndex==1">►</div>
            <div class="second-block block"
                 *ngIf="currentTemple?.stones?.length>=2"
                 [ngClass]="
                     {brown: currentTemple?.stones[1]?.color == 'brown',
                     grey: currentTemple?.stones[1]?.color == 'grey',
                     black: currentTemple?.stones[1]?.color == 'black',
                     white: currentTemple?.stones[1]?.color == 'white'
                     }">
            </div>

            <div class="marker marker3" *ngIf="currentTemple?.stones?.length>=3 && currentTemple?.insertIndex==2">►</div>
            <div class="third-block block"
                 *ngIf="currentTemple?.stones?.length>=3"
                 [ngClass]="
                     {brown: currentTemple?.stones[2]?.color == 'brown',
                     grey: currentTemple?.stones[2]?.color == 'grey',
                     black: currentTemple?.stones[2]?.color == 'black',
                     white: currentTemple?.stones[2]?.color == 'white'
                     }">
            </div>

            <div class="marker marker4" *ngIf="currentTemple?.stones?.length>=4 && currentTemple?.insertIndex==3">►</div>
            <div class="fourth-block block"
                 *ngIf="currentTemple?.stones?.length>=4"
                 [ngClass]="
                     {brown: currentTemple?.stones[3]?.color == 'brown',
                     grey: currentTemple?.stones[3]?.color == 'grey',
                     black: currentTemple?.stones[3]?.color == 'black',
                     white: currentTemple?.stones[3]?.color == 'white'
                     }">
            </div>

            <div class="marker marker5" *ngIf="currentTemple?.stones?.length>=5 && currentTemple?.insertIndex==4">►</div>
            <div class="fifth-block block"
                 *ngIf="currentTemple?.stones?.length>=5"
                 [ngClass]="
                     {brown: currentTemple?.stones[4]?.color == 'brown',
                     grey: currentTemple?.stones[4]?.color == 'grey',
                     black: currentTemple?.stones[4]?.color == 'black',
                     white: currentTemple?.stones[4]?.color == 'white'
                     }">
            </div>
        </div>
        <div class="temple-info">
                {{currentTemple?.completedRows}} row{{getPlural()}} completed. <br>
                {{currentTemple?.stones?.length*(currentTemple?.completedRows) + currentTemple?.insertIndex}} total stones.
           </div>
    </div>
    <div class="info-column">
        <div class="info-hover">
            <span class="hover">
                TEMPLE
                <ul>
                    <li>Points are automatically assessed at the end of every round.</li>
                    <li>Earn 1 point for each stone that is visible.</li>
                    <li>When the row is completed, new stones are going to replace old ones from the left.</li>
                    <li>The marker shows where new incoming stones are going to be placed.</li>
                </ul>
            </span>
        </div>
    </div>
</div>

