<div class="parent-block">
    <div class="temple-block">
        <div class="temple-row">
            <div class="first-block block"
                 *ngIf="stones.length>=1"
                 [ngClass]="
                     {brown: stones[0].color == 'brown',
                     grey: stones[0].color == 'grey',
                     black: stones[0].color == 'black',
                     white: stones[0].color == 'white'
                     }">

            </div>
            <div class="second-block block"
                 *ngIf="stones.length>=2"
                 [ngClass]="
                     {brown: stones[1].color == 'brown',
                     grey: stones[1].color == 'grey',
                     black: stones[1].color == 'black',
                     white: stones[1].color == 'white'
                     }">

            </div>
            <div class="third-block block"
                 *ngIf="stones.length>=3"
                 [ngClass]="
                     {brown: stones[2].color == 'brown',
                     grey: stones[2].color == 'grey',
                     black: stones[2].color == 'black',
                     white: stones[2].color == 'white'
                     }">

            </div>
            <div class="fourth-block block"
                 *ngIf="stones.length>=4"
                 [ngClass]="
                     {brown: stones[3].color == 'brown',
                     grey: stones[3].color == 'grey',
                     black: stones[3].color == 'black',
                     white: stones[3].color == 'white'
                     }">

            </div>
            <div class="fifth-block block"
                 *ngIf="stones.length>=5"
                 [ngClass]="
                     {brown: stones[4].color == 'brown',
                     grey: stones[4].color == 'grey',
                     black: stones[4].color == 'black',
                     white: stones[4].color == 'white'
                     }">

            </div>
        </div>
        <div class="temple-info">x# Rows <br> x# Total Stones</div>
    </div>
    <div class="info-column">
        <div class="info-hover">
            <span class="hover">sperochefunzioni</span>
        </div>
    </div>
</div>

