<div class="parent-block">

    <!-- GENERAL INFORMATION BLOCK -->
    <div class="general-information-block">
        <div class="active-player-block">
            <div class="first-row">
                <div class="first-element-bg player-element-bg">
                    <div class="first-element player-element">
                        11
                    </div>
                </div>
                <div class="second-element-bg player-element-bg">
                    <div class="second-element player-element">
                        22
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div class="third-element-bg player-element-bg">
                    <div class="third-element player-element">
                        33
                    </div>
                </div>
                <div class="fourth-element-bg player-element-bg">
                    <div class="fourth-element player-element">
                        44
                    </div>
                </div>
            </div>
        </div>
        <div class="rounds-information">
            <div class="current-round">
                <div class="current-round-content">
                    {{this.currentGame.rounds[0]}}
                </div>
                <div class="current-round-explanation">
                    Current<br>round
                </div>
            </div>
            <div class="rounds-left">
                <div class="rounds-left-content">
                    {{6-this.currentGame.rounds[0]}}
                </div>
                <div class="rounds-left-explanation">
                    Rounds<br>left
                </div>
            </div>
        </div>
    </div>

    <!-- CARDS BLOCK -->
    <div class="cards-block">
        <div class="round-cards">
            <div class="round-card">
                <img src="../../../assets/img/card-back.png" style="width:81px;height:107px;">
            </div>
            <div class="discarded-round-cards">
                <img src="../../../assets/img/card-back.png" style="width:81px;height:107px;">
            </div>
        </div>
        <div class="market-cards">
            <div class="covered-market-cards">
                <img src="../../../assets/img/card-back-side.png" style="width:107px;height:81px;">
            </div>
            <div class="discarded-market-cards">
                <img src="../../../assets/img/card-back-side.png" style="width:107px;height:81px;">
            </div>
        </div>
    </div>

    <!-- SCORING-TRACK BOARD BLOCK -->
    <div class="scoring-track-board-block">
        <div class="track-board-container">
            <div class="row1 row">
                <div class="block1 block fillable-block order0"></div>
                <div class="block2 block fillable-block order1"></div>
                <div class="block3 block fillable-block order2"></div>
                <div class="block4 block fillable-block order3"></div>
                <div class="block5 block fillable-block order4"></div>
                <div class="block6 block fillable-block order5"></div>
                <div class="block7 block fillable-block order6"></div>
                <div class="block8 block fillable-block order7"></div>
                <div class="block9 block fillable-block order8"></div>
            </div>
            <div class="row2 row">
                <div class="block10 block fillable-block order39"></div>
                <div class="block11 block empty-block"></div>
                <div class="block12 block empty-block"></div>
                <div class="block13 block empty-block"></div>
                <div class="block14 block empty-block"></div>
                <div class="block15 block empty-block"></div>
                <div class="block16 block empty-block"></div>
                <div class="block17 block empty-block"></div>
                <div class="block18 block fillable-block order9"></div>
            </div>
            <div class="row3 row">
                <div class="block19 block fillable-block order38"></div>
                <div class="block20 block empty-block"></div>
                <div class="block21 block fillable-block order16"></div>
                <div class="block22 block fillable-block order15"></div>
                <div class="block23 block fillable-block order14"></div>
                <div class="block24 block fillable-block order13"></div>
                <div class="block25 block fillable-block order12"></div>
                <div class="block26 block fillable-block order11"></div>
                <div class="block27 block fillable-block order10"></div>
            </div>
            <div class="row4 row">
                <div class="block28 block fillable-block order37"></div>
                <div class="block29 block empty-block"></div>
                <div class="block30 block fillable-block order17"></div>
                <div class="block31 block empty-block"></div>
                <div class="block32 block empty-block"></div>
                <div class="block33 block empty-block"></div>
                <div class="block34 block empty-block"></div>
                <div class="block35 block empty-block"></div>
                <div class="block36 block empty-block"></div>
            </div>
            <div class="row5 row">
                <div class="block37 block fillable-block order36"></div>
                <div class="block38 block empty-block"></div>
                <div class="block39 block fillable-block order18"></div>
                <div class="block40 block fillable-block order19"></div>
                <div class="block41 block fillable-block order20"></div>
                <div class="block42 block fillable-block order21"></div>
                <div class="block43 block fillable-block order22"></div>
                <div class="block44 block fillable-block order23"></div>
                <div class="block45 block fillable-block order24"></div>
            </div>
            <div class="row6 row">
                <div class="block46 block fillable-block order35"></div>
                <div class="block47 block empty-block"></div>
                <div class="block48 block empty-block"></div>
                <div class="block49 block empty-block"></div>
                <div class="block50 block empty-block"></div>
                <div class="block51 block empty-block"></div>
                <div class="block52 block empty-block"></div>
                <div class="block53 block empty-block"></div>
                <div class="block54 block fillable-block order25"></div>
            </div>
            <div class="row7 row">
                <div class="block55 block fillable-block order34"></div>
                <div class="block56 block fillable-block order33"></div>
                <div class="block57 block fillable-block order32"></div>
                <div class="block58 block fillable-block order31"></div>
                <div class="block59 block fillable-block order30"></div>
                <div class="block60 block fillable-block order29"></div>
                <div class="block61 block fillable-block order28"></div>
                <div class="block62 block fillable-block order27"></div>
                <div class="block63 block fillable-block order26"></div>
            </div>
        </div>
    </div>
</div>