<div class="parent-block">

    <!-- GENERAL INFORMATION BLOCK -->
    <div class="general-information-block">
        <div class="active-player-block">
            <div class="first-row">
                <div class="first-element-bg player-element-bg">
                    <div class="first-element player-element">
                        11
                    </div>
                </div>
                <div class="second-element-bg player-element-bg">
                    <div class="second-element player-element">
                        22
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div class="third-element-bg player-element-bg">
                    <div class="third-element player-element">
                        33
                    </div>
                </div>
                <div class="fourth-element-bg player-element-bg">
                    <div class="fourth-element player-element">
                        44
                    </div>
                </div>
            </div>
        </div>
        <div class="rounds-information">
            <div class="current-round">
                <div class="current-round-content">
                    4
                </div>
                <div class="current-round-explanation">
                    Current<br>round
                </div>
            </div>
            <div class="rounds-left">
                <div class="rounds-left-content">
                    2
                </div>
                <div class="rounds-left-explanation">
                    Rounds<br>left
                </div>
            </div>
        </div>
    </div>

    <!-- CARDS BLOCK -->
    <div class="cards-block">
        <div class="round-cards">
            <div class="round-card">
                <img src="../../../assets/img/card-back.png" style="width:81px;height:107px;">
            </div>
            <div class="discarded-round-cards">
                <img src="../../../assets/img/card-back.png" style="width:81px;height:107px;">
            </div>
        </div>
        <div class="market-cards">
            <div class="covered-market-cards">
                <img src="../../../assets/img/card-back-side.png" style="width:107px;height:81px;">
            </div>
            <div class="discarded-market-cards">
                <img src="../../../assets/img/card-back-side.png" style="width:107px;height:81px;">
            </div>
        </div>
    </div>

    <!-- SCORING-TRACK BOARD BLOCK -->
    <div class="scoring-track-board-block">
        Scoring track board:
    </div>
</div>