:root {
    /*Custom colors for interface*/
    --colorOne: #85622a;
    --colorTwo: #e6a644;
    --colorThree: #e18339;
    --colorFour: #b6571d;
    --colorFive: #8c3313;
    --colorSix: #4fb0cb;

    /*Custom colors for lobby status*/
    /*Game status*/
    --colorPending: #00e10d;
    --colorRunning: #ff513c;
    --colorFinished: #18f7ff;
    /*User status*/
    --colorInALobby: #18f7ff;
    --colorOnline: #00e10d;
    --colorOffline: #fffbfb;
    --colorIsReady: #ffb90a;
    --colorIsPlaying: #ff513c;

    /*Custom colors for player*/
    --brownStone: #6e1b00;
    --greyStone: #797879;
    --blackStone: #222122;
    --whiteStone: #fffbfb;

    /*Custom color for highlighting the turn and next turn*/
    --turn: #ffdf00;
    --nextTurn: #a39000;
}

body {
    background-image: url("assets/img/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Sanchez', serif;
}

