<div class="parent-block">
    <div class="burial-chamber-container">
        <div class="burial-chamber">
            <div class="first-row row">
                <div class="block" *ngFor="let position of ngForArray" [ngClass]="{
                brown: currentBurialChamber?.firstRow[position]?.color == 'brown',
                grey: currentBurialChamber?.firstRow[position]?.color == 'grey',
                black: currentBurialChamber?.firstRow[position]?.color == 'black',
                white: currentBurialChamber?.firstRow[position]?.color == 'white'
                }">
                </div>
            </div>
            <div class="second-row row">
                <div class="block" *ngFor="let position of ngForArray" [ngClass]="{
                brown: currentBurialChamber?.secondRow[position]?.color == 'brown',
                grey: currentBurialChamber?.secondRow[position]?.color == 'grey',
                black: currentBurialChamber?.secondRow[position]?.color == 'black',
                white: currentBurialChamber?.secondRow[position]?.color == 'white'
                }">
                </div>
            </div>
            <div class="second-row row">
                <div class="block" *ngFor="let position of ngForArray" [ngClass]="{
                brown: currentBurialChamber?.thirdRow[position]?.color == 'brown',
                grey: currentBurialChamber?.thirdRow[position]?.color == 'grey',
                black: currentBurialChamber?.thirdRow[position]?.color == 'black',
                white: currentBurialChamber?.thirdRow[position]?.color == 'white'
                }">
                </div>
            </div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-hover">
            <span class="hover">sperochefunzioni</span>
        </div>
    </div>
</div>