<div class="parent-block">
    <div class="burial-chamber-container">
        <div class="burial-chamber">
            <div class="first-row row">
                <div class="block" *ngFor="let position of ngForArray" [ngClass]="{
                brown: currentBurialChamber?.firstRow[position]?.color == 'brown',
                grey: currentBurialChamber?.firstRow[position]?.color == 'grey',
                black: currentBurialChamber?.firstRow[position]?.color == 'black',
                white: currentBurialChamber?.firstRow[position]?.color == 'white'
                }">
                </div>
            </div>
            <div class="second-row row">
                <div class="block" *ngFor="let position of ngForArray" [ngClass]="{
                brown: currentBurialChamber?.secondRow[position]?.color == 'brown',
                grey: currentBurialChamber?.secondRow[position]?.color == 'grey',
                black: currentBurialChamber?.secondRow[position]?.color == 'black',
                white: currentBurialChamber?.secondRow[position]?.color == 'white'
                }">
                </div>
            </div>
            <div class="second-row row">
                <div class="block" *ngFor="let position of ngForArray" [ngClass]="{
                brown: currentBurialChamber?.thirdRow[position]?.color == 'brown',
                grey: currentBurialChamber?.thirdRow[position]?.color == 'grey',
                black: currentBurialChamber?.thirdRow[position]?.color == 'black',
                white: currentBurialChamber?.thirdRow[position]?.color == 'white'
                }">
                </div>
            </div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-hover">
            <span class="hover">
                <ul>
                    <li>Points are automatically assessed at the end of the game.</li>
                    <li>
                        The amount of points is defined by the number of connected stones as follows:
                        <div class="table-container">
                        <div class="multiplier">
                            <div class="cell">1x</div>
                            <div class="cell">2x</div>
                            <div class="cell">3x</div>
                            <div class="cell">4x</div>
                            <div class="cell">5x</div>
                            <div class="cell">...</div>
                        </div>
                        <div class="points">
                            <div class="cell">1</div>
                            <div class="cell">3</div>
                            <div class="cell">6</div>
                            <div class="cell">10</div>
                            <div class="cell">15</div>
                            <div class="cell">+2</div>
                        </div>
                            </div>
                    </li>

                </ul>
            </span>
        </div>
    </div>
</div>