.parent-block {
    width: 100%;
    height: 100%;
    display: flex;
}

.burial-chamber-container {
    flex-grow: 1;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin:0;
}

.block {
    flex-grow: 1;
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    border: 1px solid black;
}

.info-column {
    flex-grow: 1;
    width: 20%;
}

/***********************************************************************************************************************
Dynamic styles for stone colors:
***********************************************************************************************************************/

.brown {
    background-color: var(--brownStone);
}

.grey {
    background-color: var(--greyStone);
}

.black {
    background-color: var(--blackStone);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-color: var(--whiteStone);
    color: black;
}