<div class="parent-block">
    <div class="board-column">
        <div class="wrapper">
            <div class="block-obelisk1 obelisk" [ngClass]="{black: currentObelisk?.obelisks?.black >= 1}">
                x{{currentObelisk?.obelisks?.black}}
            </div>
            <div class="block-obelisk2 obelisk" [ngClass]="{brown: currentObelisk?.obelisks?.brown >= 1}">
                x{{currentObelisk?.obelisks?.brown}}
            </div>
            <div class="block-obelisk3 obelisk" [ngClass]="{grey: currentObelisk?.obelisks?.grey >= 1}">
                x{{currentObelisk?.obelisks?.grey}}
            </div>
            <div class="block-obelisk4 obelisk" [ngClass]="{white: currentObelisk?.obelisks?.white >= 1}">
                x{{currentObelisk?.obelisks?.white}}
            </div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-hover">
            <span class="hover">
                <ul>
                    <li>Points are automatically assessed at the end of the game.</li>
                    <li>
                        The amount of points is defined by the number of players and the classification of stones as follows:
                        <div class="tables-container">
                            <div class="points-table">
                                <div class="heading">4 Players</div>
                                <div class="table-container">
                                    <div class="table-row">
                                        <div class="cell">1.</div>
                                        <div class="cell">2.</div>
                                        <div class="cell">3.</div>
                                        <div class="cell">4.</div>
                                    </div>
                                    <div class="table-row">
                                        <div class="cell">15</div>
                                        <div class="cell">10</div>
                                        <div class="cell">5</div>
                                        <div class="cell">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="points-table">
                                <div class="heading">3 Players</div>
                                <div class="table-container">
                                    <div class="table-row">
                                        <div class="cell">1.</div>
                                        <div class="cell">2.</div>
                                        <div class="cell">3.</div>
                                    </div>
                                    <div class="table-row">
                                        <div class="cell">12</div>
                                        <div class="cell">6</div>
                                        <div class="cell">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="points-table">
                                <div class="heading">2 Players</div>
                                <div class="table-container">
                                    <div class="table-row">
                                        <div class="cell">1.</div>
                                        <div class="cell">2.</div>
                                    </div>
                                    <div class="table-row">
                                        <div class="cell">10</div>
                                        <div class="cell">1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>
