.parent-block {
    display: flex;
    height: 100%;
}

.obelisks {
    flex-grow: 1;
}

.obelisks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.obelisk {
    color: white;
    flex-grow: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 2;
    margin-left: 20px;
    margin-right: 20px;
}

.obelisk1 {
    margin-bottom: 50px;
    border-radius:2px;
}

.obelisk2 {
    margin-bottom: 15px;
    border-radius:2px;
}

.obelisk3 {
    margin-top: 15px;
    border-radius:2px;
}

.obelisk4 {
    margin-top: 50px;
    border-radius:2px;
}

/***********************************************************************************************************************
Info Column:
***********************************************************************************************************************/

.info-column {
    color: black;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-hover {
    min-width: 25px;
    min-height: 25px;
    background-image: url("../../../assets/img/info-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.info-hover:hover {
    background-position: center;
    background-size: contain;
}

.hover {
    display: none;
}

.info-hover:hover span {
    display: block;
    position: relative;
    left: 25px;
    width: 500px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

.tables-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.points-table {
    margin-left: 20px;
    margin-right: 20px;
}

.table-row {
    display: flex;
}

.heading {
    border: 1px solid white;
    font-size: 12px;
}

.cell {
    flex-grow: 1;
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    border: 1px solid white;
}

/***********************************************************************************************************************
Dynamic styles for obelisk colors:
***********************************************************************************************************************/
.brown {
    background-image: url(../../../assets/img/brownStone.png);
}

.grey {
    background-image: url(../../../assets/img/greyStone.png);
}

.black {
    background-image: url(../../../assets/img/blackStone.png);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-image: url(../../../assets/img/whiteStone.png);
    color: black;
}