.board-column{
    float: left;
    width: 80%;
}

.info-column{
    float: right;
    width: 20%;
}

.wrapper {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-gap: 40px;
    margin-left: 30px;
}

.block-obelisk1{
    flex-grow: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-top: 10px;
}

.block-obelisk2{
    flex-grow: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-top: 25px;
}

.block-obelisk3{
    flex-grow: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-top: 40px;
}

.block-obelisk4{
    flex-grow: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-top: 55px;
}

/***********************************************************************************************************************
Dynamic styles for obelisk colors:
***********************************************************************************************************************/
.brown {
    background-color: var(--brownStone);
}

.grey {
    background-color: var(--greyStone);
}

.black {
    background-color: var(--blackStone);
}

.white {
    /* If background is white then font color must be black for better readability*/
    background-color: var(--whiteStone);
    color: black;
}